<header>
	<div class="logo">
		Logo
	</div>

	<div class="motto">
		Piccsy helps you discover the images you love.
	</div>

	<div class="join">
		join

		<div class="join-form">
			register with facebook</br>
			register with twitter</br>
			register with Punaise</br>
			<%= link_to "register with Unbound", register_path() %>

		</div>
	</div>

	<div class="login">
		<%= link_to "Login", login_path() %>

		<div class="login-form">
			login with facebook</br>
			login with twitter</br>

			username</br>
			password</br>
		</div>
	</div>
</header>