<div id="home-header">
	<span class="element logo clair">
		Logo
	</span>

	<span class="element motto foncee">
		Unbound est VOTRE mosaique des avènements du monde.
	</span>

	<span class="element join">
		<%= link_to "Rejoindre", register_path() %> le réseau Unbound

	</span>

	<span class="element login">
		<%= link_to "Login", login_path() %>

	</span>
</div>